<!DOCTYPE html>
<html lang="en" class="jumbotron" style="background-color: black">

<head>

  <title>Challan System</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="https://drive.google.com/uc?export=view&id=1KnCJC_GArhWASUnYV3bCygrnnuCMHKxC">
</head>

<body >
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1 style="text-align: center; font-family:cursive;">
        Check Challan Status</h1>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="jumbotron" style="text-align: center; background-color:gainsboro;">
    <div>
        <form action="" method="POST">
            <input type="text" name="number" id="number" placeholder="Enter Vehicle Number"
            style="border: transparent;border-radius: 5px;padding: 8px;border-color: yellow;">
            <button type="submit" class="btn btn-warning">
              <img src="D:/Challan/views/icons8-camera-identification-96.png" 
              alt="" height="25px" width="25px">
            </button>
          </form>
    </div>
    <div class="pt-5"><h3 class="text-uppercase text-center text-dark">No records found for the given input number</h3</div>
  </div>
</body>
</html>